target/
.mvn/
mvnw
mvnw.cmd

.idea/
.vscode/
.settings/

logs/

# Configuration files
src/main/resources/application.properties
src/main/resources/application.yml

# Database configuration and secrets
.env
**/application-*.properties
application.yml

# my build stage symlink
the-app.jar

